@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Noto+Serif:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap');
/* modal*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab:wght@300&family=Roboto:wght@300;500;700&display=swap');
/* modal  */
*{
    margin: 0%;
    padding: 0%;
}

html{
    scroll-behavior: smooth;
}

ul{
    text-decoration: none;
    list-style: none;
}
li{
    text-decoration: none;
    list-style: none;

}
.textoTipo{
    font-family: 'Bebas Neue', cursive;
font-family: 'Roboto', sans-serif;
}
footer{
    margin: 0%;
    padding: 0%;

}
.fundo{
    background-image: url(../Img/fundoCinza.jpg) no-repeat;
}
/*main inicio */

/* main final */

/* botao volta para o inicio */
.voltar-ao-topo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
  }
  
/*botao volta para o final */
.modalfont{
    line-height: 1.5;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}